* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #6a6b88;
  --secondary-color: #4d5a71;
  --bg-primary: #1d293a;
  --bg-dark: #2a2828;
  --bg-light: #354357;
  --text-color: #d3dbe0;
}

html {
  font-size: 62.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--bg-primary);
}

.calculator {
  width: 40rem;
}

.display {
  background-color: var(--bg-light);
  height: 9.6rem;
  padding: 1.6rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 2.4rem;
}

.display__expression {
  font-size: 2.4rem;
}

.display__result {
  font-size: 3.6rem;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

.btn {
  color: var(--text-color);
  background-color: var(--bg-light);
  border-style: none;
  height: 9.1rem;
  font-size: 3.2rem;
  font-weight: 700;
  transition: all 0.15s ease-in-out;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.btn--primary {
  background-color: var(--secondary-color);
}

.btn--dark {
  background-color: var(--primary-color);
}

.btn:hover {
  cursor: pointer;
  /* apply dark filter */
  filter: brightness(0.9);
}

.span--2 {
  grid-column: span 2;
}
